.text {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.42857143;
  color: black;
}

.code {
  background-color: red;
}

.code:hover {
  background-color: blue;
}

.stats {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

.links {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.42857143;
  color: red;
  text-decoration: none;
}
